.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.head{
  text-align: center;
  background-color: blue;

}
.inp{
  margin-right: 30px;
  }

#search-bar{
  margin-top: 15px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px; 
  border: 1px solid #61dafb;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f8f8f8;
  background-image: url('https://www.pinpng.com/pngs/m/10-102728_instagram-search-icon-vector-instagram-search-icon-png.png'); 
  background-position: right 10px center; 
  background-repeat: no-repeat;
  padding-right: 35px; 
  margin-bottom: 10px;
  background-size: 20px;

  
}
/* CSS Styling for table */

/* TransactionList.css */
#table {
  width: 100%;
  border-collapse: collapse;
}

#table th,
#table td {
  padding: 8px;
  border: 1px solid #61dafb;
  text-align: left;
}

#table th {
  background-color: #f2f2f2;
}